Source: ros-hydro-object-recognition-transparent-objects
Section: misc
Priority: extra
Maintainer: Ilya Lysenkov <ilya.lysenkov@itseez.com>, Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), openni-dev, ros-hydro-catkin, ros-hydro-ecto, ros-hydro-object-recognition-core, ros-hydro-pcl
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-hydro-object-recognition-transparent-objects
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openni-dev, ros-hydro-ecto, ros-hydro-ecto-opencv, ros-hydro-object-recognition-core, ros-hydro-pcl
Description: A technique to recognize and estimate poses of transparent objects
